<form [formGroup]="movementForm">
  <div class="action-container">
    <div class="action-panel">
      <button mat-button class="main-button fs-5">
        <mat-icon class="main-icon" aria-hidden="false" aria-label="add icon" fontIcon="arrow_upward"></mat-icon>
      </button>
      <mat-form-field appearance="fill">
        <input formControlName="change" type="number" matInput>
        <mat-error *ngIf="movementForm.get('change')?.hasError('required')">
          Change is required
        </mat-error>
        <mat-error *ngIf="movementForm.get('change')?.hasError('min')">
          Change must be greater than or equal to 0
        </mat-error>
      </mat-form-field>
      <button mat-button class="main-button fs-5">
        <mat-icon class="main-icon" aria-hidden="false" aria-label="add icon" fontIcon="arrow_downward"></mat-icon>
      </button>
    </div>
  </div>
</form>
