<app-mat-sidenav-container
  class="sidenav-container"
  (showInventoryEvent)="onShowInventory($event)"
></app-mat-sidenav-container>

<div class="main-container">
  <div class="content-container">

    <ng-container *ngIf="selectedWarehouse; else noWarehouse">

      <inventory *ngIf="showInventory"></inventory>
      <diary *ngIf="!showInventory"></diary>

    </ng-container>

    <ng-template #noWarehouse>
      <app-no-warehouse class="no-warehouse-container"></app-no-warehouse>
    </ng-template>
  </div>
</div>
