<div class="diary-container">
  <app-warehouse-action-bar toolbarHeader="Diary" class="header-container"></app-warehouse-action-bar>
  <app-filter-bar class="filter-bar"></app-filter-bar>

  <mat-form-field appearance="fill">
    <mat-label>Filter Entries By Year</mat-label>
    <mat-select [(value)] = "year">
      <mat-option [value]="">
        None
      </mat-option>
      <mat-option *ngFor="let year of entryYears" [value]=year>
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="entries
   | filter: 'itemName' : ((searchbarQuery | async) ?? '')
   | filter: 'timestamp' : ((year))">

    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
      <th class="fs-5 ta-left" mat-header-cell *matHeaderCellDef>Timestamp</th>
      <td class="fs-5 ta-left" mat-cell *matCellDef="let entry"> {{entry.timestamp | date:'yyyy. MM. dd. HH:mm'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="itemName">
      <th class="fs-5 ta-left" mat-header-cell *matHeaderCellDef>Name</th>
      <td class="fs-5 ta-left" mat-cell *matCellDef="let entry"> {{entry.itemName}} </td>
    </ng-container>

    <!-- Change Column -->
    <ng-container matColumnDef="change">
      <th class="fs-5 ta-left" mat-header-cell *matHeaderCellDef>Change</th>
      <td class="fs-5 ta-left" mat-cell *matCellDef="let entry"> {{entry.change | number:'0.0-3'}} </td>
    </ng-container>

    <!-- Quantity After Change Column -->
    <ng-container matColumnDef="quantityAfterChange">
      <th class="fs-5 ta-left" mat-header-cell *matHeaderCellDef>After</th>
      <td class="fs-5 ta-left" mat-cell *matCellDef="let entry"> {{entry.quantityAfterChange | number:'0.0-3'}} </td>
    </ng-container>

    <tr class="fs-5" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="fs-5" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
