<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom">
    <div class="sidenav-component-wrapper sidenav-logo-wrapper">
      <div class="sidenav-icon-wrapper">
        <div class="sidenav-icon sidenav-logo">
          <mat-icon class="icon" aria-hidden="false" aria-label="logo icon" fontIcon="gavel"></mat-icon>
        </div>
      </div>
    </div>

    <div class="sidenav-component-wrapper">
      <div class="sidenav-heading-wrapper">
        <h5 class="sidenav-heading">Warehouse #1</h5>
      </div>
      <div class="sidenav-icon-wrapper">
        <div class="sidenav-icon">
          <button class="warehouse-button">
            <mat-icon class="icon" aria-hidden="false" aria-label="warehouse icon" fontIcon="home"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="sidenav-component-wrapper">
      <div class="sidenav-heading-wrapper">
        <h5 class="sidenav-heading">Warehouse #2</h5>
      </div>
      <div class="sidenav-icon-wrapper">
        <div class="sidenav-icon">
          <button class="warehouse-button">
            <mat-icon class="icon" aria-hidden="false" aria-label="warehouse icon" fontIcon="home"></mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="sidenav-component-wrapper">
      <div class="sidenav-heading-wrapper">
        <h5 class="sidenav-heading">Warehouse #3</h5>
      </div>
      <div class="sidenav-icon-wrapper">
        <div class="sidenav-icon">
          <button class="warehouse-button">
            <mat-icon class="icon" aria-hidden="false" aria-label="warehouse icon" fontIcon="home"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
