<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom">

    <div class="logo-warehouse-wrapper">
      <div class="sidenav-component-wrapper sidenav-logo-wrapper">
        <div class="sidenav-icon-wrapper">
          <div class="sidenav-icon sidenav-logo">
            <img src="assets/wood_white.png" width="36" height="36">
          </div>
        </div>
      </div>

      <div class="warehouse-wrapper">
        <div *ngFor="let warehouse of warehouses; let i = index" class="sidenav-component-wrapper"
             (click)="onSelectWarehouse(i, warehouse)">
          <div class="sidenav-heading-wrapper">
            <a class="sidenav-heading">{{warehouse.name}}</a>
          </div>
          <div class="sidenav-icon-wrapper">
            <div class="sidenav-icon">
              <button class="button">
                <mat-icon class="icon" aria-hidden="false" aria-label="warehouse icon"
                          [class.active-warehouse-icon]="warehouseActive==i">home
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="add-warehouse-wrapper">
      <button class="button add-warehouse-button" (click)="createWarehouse()">
        <mat-icon class="icon" aria-hidden="false" aria-label="add icon">add</mat-icon>
      </button>
    </div>


    <div class="sidenav-inventory-diary-wrapper">

      <div class="sidenav-icon-wrapper vertical-action-group">
        <button class="button" (click)="logout()">
          <mat-icon class="icon logout-icon" aria-hidden="false" aria-label="logout icon">exit_to_app</mat-icon>
        </button>
        <button class="button" (click)="showInventory()">
          <mat-icon class="icon" aria-hidden="false" aria-label="inventory icon" [class.active-icon]="inventoryActive"
                    [class.inactive-icon]="!inventoryActive">book
          </mat-icon>
        </button>
        <button class="button" (click)="showDiary()">
          <mat-icon class="icon" aria-hidden="false" aria-label="diary icon" [class.active-icon]="!inventoryActive"
                    [class.inactive-icon]="inventoryActive">event_note
          </mat-icon>
        </button>
      </div>

    </div>


  </mat-sidenav>
</mat-sidenav-container>
