<div class="action-container">
  <div class="action-panel">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Unit</mat-label>
      <mat-select [(ngModel)]="unit">
        <mat-option *ngFor="let unit of units | keys" [value]=units[unit]>
          {{unit}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="quantity">
    </mat-form-field>

    <ng-container *ngIf="unit == units.Meter || unit == units.SquareMeter">
      <mat-form-field appearance="fill">
        <mat-label>Length</mat-label>
        <input matInput [(ngModel)]="length">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="unit == units.SquareMeter">
      <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput [(ngModel)]="width">
      </mat-form-field>
    </ng-container>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <br>
    <button mat-button>ADD ITEM</button>
  </div>
</div>
