.inventory-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;

  display: flex;
  flex-flow: column wrap;
  row-gap: 12px;
}

.navbar-wrapper {
  display: flex;
  flex-flow: column wrap;
  row-gap: 12px;
}

.warehouse-selector-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.warehouse-selector-button {
  padding-left: 4px;
  padding-bottom: 4px;
}

.warehouse-selector-button mat-icon {
  transform: scale(1.5);
  color: var(--primary);
  margin-left: -4px;
  margin-top: -4px;
}

.selected-warehouse-header {
  flex: 1;
  text-align: center;
}


.filter-bar {
  display: flex;
}

.categories-container {
  width: 100%;
}
