.inventory-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-flow: column wrap;

  background-color: var(--white);

  min-height: 100%;
}

.navigation-wrapper {
  background: var(--primary);
  padding-block: 8px;
}

.warehouse-selector-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.warehouse-selector-button {
  margin-right: auto;
  flex: 0;
}

.warehouse-selector-button mat-icon {
  transform: scale(1.5);
  color: var(--white);
  margin-left: 6px;
  margin-bottom: 2px;
}

.selected-warehouse-header {
  margin-bottom: 0;
  margin-right: auto;
  color: var(--white);
}


.filter-bar {
  display: flex;
  margin: 12px 20px 20px 20px;
}

.categories-container {
  width: 100%;
  padding: 20px;
}

.panel-title {
}

.panel-description {
  flex: 0;
}

table {
  width: 100%;
}

.ta-center {
  text-align: center !important;
}

tr:last-of-type td {
  border-bottom-width: 0 !important;
}

.mat-expansion-panel {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, .24);
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 4px !important;

}

tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.mat-expansion-panel-header {
  padding: 8px;
  height: inherit;
}

