.inventory {
  flex: 1;
  min-width: 70%;
}

.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, .24);
}

.panel-description {
  flex: 1;
}

table {
  width: 100%;
}

.ta-left {
  text-align: left !important;
}

.action-cell {
  padding: 0;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  justify-content: center;
}

.action-container {
  position: sticky;
  flex: 1;
  align-self: flex-start;
  top: 0;
  max-width: 30%;
  row-gap: 24px;
  display: flex;
  flex-direction: column;
}

tr:last-of-type td {
  border-bottom-width: 0 !important;
}

.mat-expansion-panel {
  margin: 0 0 16px 0;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 4px !important;
}

.edit-cell-header {
  width: 100px;
}

.edit-cell {
  width: 100px;
  height: 48px;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

tr:last-of-type .edit-cell {
  border-bottom: none;
}

.edit-item-button {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  flex: 1;
  transition: background-color .2s, color .2s;
}

.edit-item-button:hover {
  background-color: var(--primary);
  color: var(--white);
}

.editing, .editing:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  cursor: default;
}

.editing-row {
  background-color: #eeecec;
}

.item-form {
  border: 1px solid rgba(0, 0, 0, .24);
  border-radius: 8px;
  margin-left: 20px;
  padding: 16px 0;
}
