<h2 class="warehouse-header">Warehouse Inventory</h2>
<div class="action-bar">
  <button mat-button class="secondary-button fs-5" (click)="buttonClick()">
    Export
  </button>

  <button mat-button class="secondary-button fs-5" (click)="buttonClick()">
    Import
  </button>

  <button mat-button class="main-button fs-5" (click)="openAddItemComponent()">
    <mat-icon
      class="main-icon"
      aria-hidden="false"
      aria-label="add icon"
      fontIcon="add"
    ></mat-icon>
    New Item
  </button>
</div>
