<div class="warehouse-action-bar">
  <h2 class="warehouse-header">Inventory</h2>
  <div class="divider"></div>
  <h2 *ngIf="!editing" class="warehouse-header">{{warehouse?.name}}</h2>
  <input *ngIf="editing" value="{{warehouse?.name}}" class="edit-field fs-5" [(ngModel)]="name" type="text">
  <button mat-button class="edit-button fs-5" (click)="editing ? editWarehouse() : onEditWarehouse()" [class.editing]="editing">
    <mat-icon [innerHTML]="editing ? 'check' : 'edit' "></mat-icon>
  </button>
  <button mat-button class="delete-item-button fs-5" (click)="deleteWarehouse()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="action-bar">
  <button mat-button class="secondary-button fs-5">
    Export
  </button>

  <button mat-button class="secondary-button fs-5">
    Import
  </button>

  <button mat-button class="main-button fs-5" (click)="openAddItemComponent()">
    <mat-icon
      class="main-icon"
      aria-hidden="false"
      aria-label="add icon"
      fontIcon="add"
    ></mat-icon>
    New Item
  </button>
</div>
