<div class="inventory-container">
  <h2>Warehouse Inventory</h2>
  <div class="item-grid" *ngFor="let item of items; let i=index;">
    <div class="id-col">
      <div *ngIf="i==0">id</div>
      <div>{{item.id}}</div>
    </div>
    <div class="name-col">
      <div *ngIf="i==0">name</div>
      <div>{{item.name}}</div>
    </div>
    <div class="width-col">
      <div *ngIf="i==0">width</div>
      <div>{{item.width}}</div>
    </div>
    <div class="length-col">
      <div *ngIf="i==0">length</div>
      <div>{{item.length}}</div>
    </div>
    <div class="quantity-col">
      <div *ngIf="i==0">quantity</div>
      <div>{{item.quantity}}</div>
    </div>
    <div class="unit-col">
      <div *ngIf="i==0">unit</div>
      <div>{{item.unit}}</div>
    </div>
    <div class="note-col">
      <div *ngIf="i==0">note</div>
      <div>{{item.note}}</div>
    </div>
  </div>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accordion first item title
        </mat-panel-title>
        <mat-panel-description>
          Accordion summary without toggle icon
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
