.inventory-container {
  height: 100%;

  padding: 8px;
  border: 2px solid black;
  background-color: var(--grey);
}

.item-grid {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 0.5fr) repeat(2, 0.2fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.id-col { grid-area: 1 / 1 / 2 / 2; }
.name-col { grid-area: 1 / 2 / 2 / 3; }
.width-col { grid-area: 1 / 3 / 2 / 4; }
.length-col { grid-area: 1 / 4 / 2 / 5; }
.quantity-col { grid-area: 1 / 5 / 2 / 6; }
.unit-col { grid-area: 1 / 6 / 2 / 7; }
.note-col { grid-area: 1 / 7 / 2 / 8; }
