.inventory-container {
  height: 100%;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
}

.warehouse-header {
  color: var(--main);
}

.main-button {
  background-color: var(--main);
  color: white;
}

.main-icon {

}

.content-container {
  display: flex;
  margin-top: 16px;
}

.inventory {
  flex: 1;
}

.expansion-panel-header {
  padding: 16px;
}

.panel-description {
  flex: 1;
}

table {
  width: 100%;
}

.action-container {
  position: sticky;
  flex: 1;
  align-self: flex-start;
  top: 0;
}

.action-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

.action-panel mat-form-field, .action-panel button {
  width: 50%;
  margin: 0 auto 0 auto;
}
