/* You can add global styles to this file, and also import other style files */
:root {
  --main: #001233;
  --main-tint: #85b0ff;
  --analogous: #30ffb6;
  --main-bright: #76f4f1;
  --secondary: #33415c;
  --grey: #eeeff3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--grey);
}
